name: docker-image

on:
  push:
    branches: [main]
  workflow_call:
    secrets: inherit

jobs:
  docker-image:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b #v3.0.2
        with:
          fetch-depth: 0

      - name: Set up QEMU
        uses: docker/setup-qemu-action@e81a89b1732b9c48d79cd809d8d81d79c4647a18 #v2.1.0

      - name: Set up Docker Buildx
        id: Buildx
        uses: docker/setup-buildx-action@8c0edbc76e98fa90f69d9a2c020dcb50019dc325 #v2.2.1

      - name: Login to Docker Hub
        uses: docker/login-action@f4ef78c080cd8ba55a85445d5b36e214a81df20a #v2.1.0
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_SECRET }}
      
      - name: Docker Meta
        id: meta_falcoctl
        uses: docker/metadata-action@57396166ad8aefe6098280995947635806a0e6ea #v4.1.1
        with:
          # list of Docker images to use as base name for tags
          images: |
            docker.io/aldokcl/falcoctl
          tags: |
            type=ref,event=branch
            type=semver,pattern={{ version }}

      - name: Build and push 
        uses: docker/build-push-action@c56af957549030174b10d6867f20e78cfd7debc5 #v3.2.0
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ steps.meta_falcoctl.outputs.tags }}
          file: ./build/Dockerfile
