name: Integration Pipeline

on:
  push:
    branches: [main]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        goos: [linux, darwin, windows]
        goarch: [arm64, amd64]
        exclude:
          - goarch: arm64
            goos: windows
    steps:
    - name: Checkout commit
      uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b #v3.0.2
      with:
        fetch-depth: 0

    - name: Setup Go
      uses: actions/setup-go@84cbf8094393cdc5fe1fe1671ff2647332956b1a #v3.2.1
      with:
        go-version: 1.19

    - name: Build Falcoctl
      run: >
        go build -o falcoctl-${{ matrix.goos }}-${{ matrix.goarch }} .
      env:
        CGO_ENABLED: 0
        GOOS: ${{ matrix.goos }}
        GOARCH: ${{ matrix.goarch }}

    - name: Create Archives
      run: |
        cp falcoctl-${{ matrix.goos }}-${{ matrix.goarch }} falcoctl
        tar -czvf falcoctl-${{ matrix.goos }}-${{ matrix.goarch }}.tar.gz falcoctl LICENSE

    - name: Upload falcoctl artifacts
      uses: actions/upload-artifact@3cea5372237819ed00197afe530f5a7ea3e805c8 #v3.1.0
      with:
        name: falcoctl-${{ matrix.goos }}-${{ matrix.goarch }}
        path: ./falcoctl-${{ matrix.goos }}-${{ matrix.goarch }}
        retention-days: 1

    - name: Upload falcoctl archives
      uses: actions/upload-artifact@3cea5372237819ed00197afe530f5a7ea3e805c8 #v3.1.0
      with:
        name: falcoctl-${{ matrix.goos }}-${{ matrix.goarch }}.tar.gz
        path: ./falcoctl-${{ matrix.goos }}-${{ matrix.goarch }}.tar.gz
        retention-days: 1

  test:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout commit
        uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b #v3.0.2

      - name: Setup Go
        uses: actions/setup-go@84cbf8094393cdc5fe1fe1671ff2647332956b1a #v3.2.1
        with:
          go-version: 1.19

      - name: Run tests
        run: go test ./...
